<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiebelLogaliserReborn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SiebelLogaliserReborn.Properties.Settings>
            <setting name="SQLStartLine" serializeAs="String">
                <value>SELECT statement with ID</value>
            </setting>
            <setting name="SQLExecLine" serializeAs="String">
                <value>***** SQL Statement Execute Time</value>
            </setting>
            <setting name="SQLStartLineUpd" serializeAs="String">
                <value>INSERT/UPDATE statement with ID</value>
            </setting>
            <setting name="SQLBindLine" serializeAs="String">
                <value>Bind</value>
            </setting>
            <setting name="SQLInsertExecLine" serializeAs="String">
                <value>***** SQL Statement Write Time:</value>
            </setting>
        </SiebelLogaliserReborn.Properties.Settings>
    </applicationSettings>
</configuration>